:root {
  --primary-color: #1d3263;
  --white: #fff;
  --black: #000;
  --perla: #ddd;
  --size-th: 20pt;
  --gris:#333333;
  --bg-color: #1d3263;
  /* --bg-color: #650000; Rojo AutChillan */
  --colorBG-warning:#ffc600;
  --colorBG-error:#b20000;
  --colorBG-completed: green;
  --colorTX-warning: black;
  --colorTX-error: white;
  --colorTX-completed: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Para debug
  border: 1px red solid;*/
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.resumen {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

.appName {
  padding-top: 20px;
  font-size: 2rem;
}

.companyName {
  font-size: 3rem;
}

#clock {
  font-size: 4rem;
  font-family: monospace;
  font-weight: normal;
}

.data {
  font-size: 2rem;
  padding-bottom: 20px;
}

.title {
  text-align: center;
}

h1 {
  color: var(--white);
  font-size: 4rem;
  padding: 10px;
}

h2 {
  color: var(--white);
  font-size: 3rem;
  padding: 10px;
}

.warning {
  background-color: var(--colorBG-warning) !important;
  color: var(--colorTX-warning) !important;
  font-weight: 600;
}

.error {
  background-color: var(--colorBG-error) !important;
  color: var(--colorTX-error) !important;
  font-weight: 600;
}

.completed {
  background-color: var(--colorBG-completed) !important;
  color: var(--colorTX-error);
  font-weight: 600;
}

content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 150px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 10px;
}

.miCard__contenedor {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 20px 0 0;
  padding-left: 10px;
  padding: 0px;
  overflow: hidden;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6); */
}

.miCard__contenedor .encabezado {
  font-size: 2.2rem;
  padding-top: 6px;
  padding-left: 10px;
  padding-bottom: 5px;
  color: var(--black);
  background-color: var(--white);
}

.miCard__contenedor .detalles {
  padding-left: 0px;
  padding-bottom: 0px;
  display: grid;
  grid-auto-rows: 110px;
  grid-template-columns: 60% 40%;

}

.miCard__contenedor .operario {
  padding-left: 10px;
  font-size: 1.8rem;
  color: var(--white);
  display: grid;
  align-items: center;
  background-color: rgba(255, 255, 2555, 0.1);
 
}

.miCard__contenedor .entrega {
  color: var(--white);
}

.miCard__contenedor .estado {
  background-color:#4f677f;
  display: grid;
  align-items: center;
  text-align: center;
  color: white;

}

.miCard__contenedor .textoEstado {
  color: inherit;
  height: 100%;
  font-size: 2.3rem;
}

.miCard__contenedor .tiempo {
  text-align: center;
  color: inherit;
  height: 100%;
  font-size: 1.8rem;
}

