:root {
  --primary-color: #1d3263;
  --white: #fff;
  --black: #000;
  --perla:#ddd;
  --size-th: 20pt;
  --td-odd-color: #3358af;
  --colorBG-warning: yellow;
  --colorTX-warning: black;
  --colorBG-error: red;
  --colorTX-error: white;
  --colorBG-completed: green;
  --colorTX-completed: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Para debug
  border: 1px red solid;*/
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.resumen {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

.appName {
  padding-top: 20px;
  font-size: 2rem;
  border: 1px var(--white) solid;
}

.companyName {
  font-size: 3rem;
  border: 1px var(--white) solid;
}

#clock {
  font-size: 4rem;
  border: 1px var(--white) solid;
  font-family: monospace;
  font-weight: normal;
}

.data {
  font-size: 2rem;
  padding-bottom: 20px;
}

.title {
  text-align: center;
}

h1 {
  color: var(--white);
  font-size: 4rem;
  padding: 10px;
}

h2 {
  color: var(--white);
  font-size: 3rem;
  padding: 10px;
}

content {
  display: grid;
}

table {
  font-size: var(--size-th);
  color: var(--white);
  border-collapse: collapse;
}

table th,
td {
  border: 1px solid var(--perla);
  padding: 8px;
  text-align: left;
}

table th {
  background-color: var(--white);
  color: var(--primary-color);
  border-bottom: 3px solid var(--black);
}

tr:nth-child(odd) {
  background-color: var(--td-odd-color);
}

.warning {
  background-color: var(--colorBG-warning) !important;
  color: var(--colorTX-warning);
  font-weight: 600;
}

.error {
  background-color: var(--colorBG-error) !important;
  color: var(--colorTX-error);
  font-weight: 600;
}

.completed {
  background-color: var(--colorBG-completed) !important;
  color: var(--colorTX-error);
  font-weight: 600;
}
